# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff:
*.log
staticfiles/
media/
*.sqlite3
db.sqlite3
*.pot
*.pyc
*.pyo
__pycache__/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Static files and media (generated during deployment)
/static/
/media/
staticfiles/

# Ignore the .env file containing sensitive environment variables
.env
*.env

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore local dev files and caches
*.log
*.swp
*.swo
*~
.DS_Store
*.bak
*.tmp
*.orig
*.lock

# Ignore pip specific files
pip-log.txt
pip-delete-this-directory.txt

# Docker specific files
docker-compose.override.yml  # Exclude override file if you're using one for local development
.dockerignore                # Ignore Docker-specific ignore rules file (if applicable)

# Ignore compiled Python files
*.pyc

# Ignore coverage reports
htmlcov/
.coverage
*.cover
.hypothesis/

# Ignore test and coverage results
.pytest_cache/
__pycache__/
.coverage
nosetests.xml
coverage.xml
test*.xml
.pytest_cache

# Ignore AWS-specific credentials
.aws/                     # Any AWS CLI configuration or credentials
*.pem                     # AWS key pairs for EC2 instances
